include ../../../../template/mixins/table.pug

div
  md-card
    md-toolbar.md-table-toolbar.md-default(ng-hide='filter.show')
      .md-toolbar-tools
        h2.md-title Opciones
        div(flex='')
        md-button.md-icon-button(ng-click='filter.show = true')
          md-icon filter_list
    md-toolbar.md-table-toolbar.md-default(ng-show='filter.show')
      .md-toolbar-tools
        md-icon search
        form(flex='', name='filter.form')
          input(type='text', ng-model='query.filter', ng-model-options='filter.options', placeholder='buscar...')
        md-button.md-icon-button(ng-click='removeFilter()')
          md-icon close
    md-table-container
      //-  md-row-select,
      table(md-table, ng-model="selected", md-progress="promise")
        thead(md-head, md-order="query.order")
          tr(md-row)
            th(md-column, width=50) 
            th(md-column, md-numeric, width=50, md-order-by='id_option') ID
            th(md-column, md-order-by='name') Nombre
            th(md-column, md-order-by='title') Titulo
            th(md-column, md-order-by='description') Descripcion
            th(md-column, md-order-by='type_name') Tipo
        tbody(md-body)
          tr(
            md-row,
            ng-repeat='item in options| orderBy:query.order | albTable: [query.filter, "id_option", "name", "title" , "description", "type_name"]',
          )
            //- md-on-select='toggleOption',
            //- md-select-id='item.id_option'
            //- md-select='item',
            //- ng-click='toggleOption(item)'
            td.md-cell.md-checkbox-cell
              md-checkbox(
                ng-model="item.id_role"
                aria-label="Select Row"
                ng-true-value="{{role}}"
                ng-false-value="null",
                ng-change='toggleOption(item)'
              )
            td(md-cell) {{item.id_option}}
            td(md-cell) {{item.name}}
            td(md-cell) {{item.title}}
            td(md-cell) {{item.description}}
            td(md-cell) {{item.type_name}}
    md-table-pagination(md-limit='query.limit', md-limit-options='[5, 10, 15]', md-page='query.page', md-total='{{options.length}}', md-page-select='')