mixin table_crud(name, model, columns, filter)
  md-card
    md-toolbar.md-table-toolbar.md-default(ng-hide='selected.length || filter.show')
      .md-toolbar-tools
        h2.md-title #{name}
        div(flex='')
        md-button.md-icon-button(ng-click='filter.show = true')
          md-icon filter_list
        md-button.md-icon-button(ng-click='add($event)')
          md-icon add
    md-toolbar.md-table-toolbar.md-default(ng-show='filter.show && !selected.length')
      .md-toolbar-tools
        md-icon search
        form(flex='', name='filter.form')
          input(type='text', ng-model='query.filter', ng-model-options='filter.options', placeholder='buscar...')
        md-button.md-icon-button(ng-click='removeFilter()')
          md-icon close
    md-toolbar.md-table-toolbar.alternate(ng-show='selected.length')
      .md-toolbar-tools
        div {{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected
        span
          if block
            block
          else
            md-button.md-icon-button(ng-click='edit($event)')
              md-icon edit
            md-button.md-icon-button(ng-click='delete($event)')
              md-icon delete
    md-table-container
      table(md-table, md-row-select, ng-model="selected", md-progress="promise")
        thead(md-head, md-order="query.order")
          tr(md-row)
            each column in columns
              th(md-column, md-numeric=column.isNumber, width=column.width, md-order-by=column.model) #{column.name || column.model}
        tbody(md-body)
          tr(md-row, md-auto-select, md-select="item", ng-repeat=`item in ${model} | orderBy:query.order | albTable: ${filter}`)
            each column in columns
              td(md-cell) {{item.#{column.model}}}
    md-table-pagination(md-limit='query.limit', md-limit-options='[5, 10, 15]', md-page='query.page', md-total=`{{${modal}.length}}`, md-page-select='')

